.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height, adjust as necessary */
}

.loading-spinner {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid #f3f3f3; /* Light grey */
  border-top: 0.5rem solid #3498db; /* Blue color for the spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation for the spinning effect */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
